*{
box-sizing: border-box;
margin: 0;
padding: 0;    
}


.background{
background-color: black;
height: 120vh;  
width: 100vw; 
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10%;
}
.holder{
background-color: rgb(26, 26, 26); 
border: 2px solid white;
width: 40vw;
height: 50vh;
display: flex; 
justify-content: center;
align-items: center;   
}

.start-game {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 50%;
  padding: 14px 22px;
  text-decoration: none;
}

.start-game:active,
.start-game:hover {
  outline: 0;
}

.start-game:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

.title{
width: 100%;    
display: flex;
justify-content: center;
}

.title h1{
font-size: clamp(45px, 12vw, 19vw);   
color: white;
font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;    
}

.player-1-holder,
.player-2-holder{
display: flex;    
flex-direction: column;
height: 100%;
justify-content: space-around;
align-items: center;
}

.input-container{
width: 20vw;    
position:relative;
background-color: rgb(64, 63, 63);
height: 8%;
}
.player-1-name,
.player-2-name{
background-color: transparent;    
width: 100%;
height: 100%;
border: none;
border-bottom: 4px solid white ;
color: white;
font-size: clamp(8px, 5vw,20px);
z-index: 5;
}

.player-1-title,
.input-label,
.player-2-title{
color: white;    
}

.player-1-title,
.player-2-title{
justify-self: flex-start;  
font-size: clamp(14px, 8vw, 90px);
}

.input-label,
.input-label-2{
position: absolute;    
left: 0;
top: 0;
font-size: 25px;
margin-left: 0.2rem;
pointer-events: none;
}
.player-1-name:focus + .input-label,
.player-2-nameLfocus + .input-label-2{
top: -1.9rem;    
left: 0.2rem;
}
.player-1-name:not(:placeholder-shown) + .input-label,
.player-2-name:not(:placeholder-shown) + .input-label-2{
top: -1.9rem;    
left: 0.2rem;
}

.player-1-name:focus,
.player-2-name:focus{
outline: none;  

}

.name-input-label,
.name-input-label-2{
position: absolute;
width: 56%;
height: 100%;  
top: -0.3rem;  
left: 125px;
pointer-events: none;
cursor: text;
}
.player-1-name:focus + .input-label + .name-input-label,
.player-1-name:not(:placeholder-shown) + .input-label + .name-input-label
.player-2-name:focus + .input-label-2 + .name-input-label-2,
.player-2-name:not(:placeholder-shown) + .input-label-2 + .name-input-label-2
{
border-top: 2px solid white;    
}

.submit-player {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 50%;
  padding: 14px 22px;
  text-decoration: none;
}

.submit-player:active,
.submit-player:hover {
  outline: 0;
}

.player-2-name:disabled{
height: 100%;
width: 100%;  
background-color: rgba(128, 128, 128, 0.432);
border-bottom: 4px solid rgba(255, 255, 255, 0.158) ;
color: rgba(255, 255, 255, 0.158);
}

.player-2-name:disabled + .input-label-2{
font-size: clamp(8px, 5vw,20px);  
color: rgba(255, 255, 255, 0.158);
}

.checkbox-holder{
width: clamp(40px, 5vw, 70px);  
height: clamp(40px, 5vw, 70px);
}

.switch {
  width: 70%;
  height: 30px;
  display: flex;
  border: 2px solid white;
  box-sizing: border-box;
  position: relative;
}

.switch::before {
  content: "";
  flex: 1;
  background: #eef0f1; 
  border-right: 2px solid white;
  box-sizing: border-box;
}


.switch input {
  flex: 1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #222; 
  border-left: 2px solid white;
  box-sizing: border-box;
}


.switch:has(input:checked)::before {
  background: #222; /* left becomes inactive */
}

.switch input:checked {
  background: #edeff0; /* right becomes active */
}

.gameboards{
height: 80vh;  
width: 100%;
display: grid;
grid-template-columns:10% 1fr 1fr 10%;
grid-template-rows: 20% 60% 20%;
column-gap: 2%;
}

.turn {
display: flex;
justify-content: space-between;
height: 20vh;
padding-top: clamp(12px, 3vw, 40px);
grid-column: 1/4;
}
.turn h2::before {
content: "Current Turn: ";
color: white;

}
.turn h2{
font-size: clamp(20px, 4vw, 48px);  
color: white;
}

.middle{
grid-column: 1/5 ;
grid-row: 2/3 ;
display: grid;
grid-template-columns: 10% 1fr 1fr 10% ;  
column-gap: 2%;
}

.ships{
grid-column: 2/3;
border: 1px black solid;  
background-color : white;

}

.stategy{
grid-column: 3/4;
outline: 1px black solid; 
background-color: white; 
}

.info{
grid-column: 1/5 ;
grid-row: 3/4 ;  
}

.shippresent,
.shipmissing {
border: 1px black solid;  
}
.shipmissing{
color: green;  
}

.shippresent{
background-color: black;  
color: red;
}

.ships,
.stategy{
display: grid;
grid-template-rows: repeat(9,1fr);
}
.maprow{
display: grid;
grid-template-columns: repeat(9,1fr);  
}



.cell{
border: black 1px solid;  
font-size: clamp(15px, 6vh ,35px);
text-align: center;
color: green;
background-color: blue
}
.sunk {
border: red 1px solid;  
font-size: clamp(15px, 6vh ,35px);
text-align: center;
color: red;
}