*{
box-sizing: border-box;
margin: 0;
padding: 0;    
}


.background{
background-color: black;
height: 100vh;  
width: 100vw; 
display: flex; 
justify-content: center;
align-items: center;
}
.holder{
background-color: rgb(26, 26, 26); 
border: 2px solid white;
width: 40vw;
height: 50vh;
display: flex; 
justify-content: center;
align-items: center;   
}

.start-game {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 50%;
  padding: 14px 22px;
  text-decoration: none;
}

.start-game:active,
.start-game:hover {
  outline: 0;
}

.start-game:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

