*{
box-sizing: border-box;
margin: 0;
padding: 0;    
}


.background{
background-color: black;
height: 100vh;  
width: 100vw; 
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10%;
}
.holder{
background-color: rgb(26, 26, 26); 
border: 2px solid white;
width: 40vw;
height: 50vh;
display: flex; 
justify-content: center;
align-items: center;   
}

.start-game {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 50%;
  padding: 14px 22px;
  text-decoration: none;
}

.start-game:active,
.start-game:hover {
  outline: 0;
}

.start-game:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

.title{
width: 100%;    
display: flex;
justify-content: center;
}

.title h1{
font-size: clamp(45px, 12vw, 19vw);   
color: white;
font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.player-1-holder{
display: flex;    
flex-direction: column;
height: 100%;
justify-content: space-around;
margin-top: -20%;
align-items: center;
}

.input-container{
width: 20vw;    
position:relative;
background-color: rgb(64, 63, 63);
height: 8%;
}
.player-1-name{
background-color: transparent;    
width: 100%;
height: 100%;
border: none;
border-bottom: 4px solid white ;
color: white;
font-size: clamp(8px, 5vw,20px);
z-index: 5;
}

.player-1-title,
.input-label{
color: white;    
}

.player-1-title{
justify-self: flex-start;  
font-size: clamp(14px, 8vw, 90px);
}

.input-label{
position: absolute;    
left: 0;
top: 0;
font-size: 25px;
margin-left: 0.2rem;
pointer-events: none;
}
.player-1-name:focus + .input-label{
top: -1.9rem;    
left: 0.2rem;
}
.player-1-name:not(:placeholder-shown) + .input-label{
top: -1.9rem;    
left: 0.2rem;
}

.player-1-name:focus{
outline: none;  

}

.name-input-label{
position: absolute;
width: 67%;
height: 100%;  
top: -0.3rem;  
left: 125px;
pointer-events: none;
cursor: text;
}
.player-1-name:focus + .input-label + .name-input-label,
.player-1-name:not(:placeholder-shown) + .input-label + .name-input-label
{
border-top: 2px solid white;    
}